




<section class="content-main mt-80 mb-80">
    <div class="card mx-auto card-login">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign in</h4>
            <form action="/admin" method="post">
                <div class="mb-3">
                    <input class="form-control" placeholder="Username or email" type="text" name="email">
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <input class="form-control" placeholder="Password" type="password" name="password">
                </div> <!-- form-group// -->
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100"> Login </button>
                </div> <!-- form-group// -->
            </form>

            <%if(error){%>
                <p class="text-center mb-4 text-danger">Please enter the correct credentials</p>
            <%}%>
            
        </div>
    </div>
</section>
