<!DOCTYPE html>
<html>
  <head>
    
	<style>
		h1 {
			text-align: center;
		}
	</style>
  </head>
  <body>
    <h1></h1>
    <h1>  <strong>   Uh Ohh...  Not Found!!</h1></strong>
    <div class="container">
    <img src="assets/images/banner/banner-27.png"  style="margin-left: 90px;"  alt="404 image">


</div>
    <!-- <p>The page you requested could not be found.</p> -->
  </body>
</html>
