<!-- <div class="main-wrapper main-wrapper-2"> -->
    <!-- <div class="checkout-main-area pb-100 pt-100">
        <div class="container">
            <div class="checkout-wrap pt-30">
<form action="/address" method="post" id="address">
<div class="col-lg-7">
    <div class="billing-info-wrap">
        <h3>Shipping Address </h3>
        
        <div class="row">
            <div class="col-lg-12 ">
                <div class="billing-info mb-20">
                    <label>Your Name <abbr class="required" title="required"  aria-required="true" >*</abbr></label>
                    <input type="text" name="name" required>
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="billing-info mb-20">
                    <label>Street Address <abbr class="required" title="required">*</abbr></label>
                    <input class="billing-address" placeholder="House number and street name" type="text" name="housename" aria-required="true" required>
                    <span name="housename-error"></span>
                    <input class="billing-address" placeholder="Township name" type="text" name="street"  aria-required="true" required>
                    <span name="town-error"></span>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="billing-info mb-20">
                    <label>Town / City <abbr class="required" title="required">*</abbr></label>
                    <input type="text" name="city"  aria-required="true" required>
                    <span name="city-error"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                    <label>State / Country <abbr class="required" title="required">*</abbr></label>
                    <input type="text"name="state"  aria-required="true" required>

                    <span name="state-error"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                    <label>Postcode / ZIP <abbr class="required" title="required" >*</abbr></label>
                    <input type="text" name="zip" id="zip" aria-required="true" onkeyup="" required>
                    <span id="ziperror">

                    </span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                    <label>Phone <abbr class="required" title="required" >*</abbr></label>
                    <input type="text" name="contactNumber" aria-required="true" required>
                </div>
            </div>
        </div> 
    </div>
</div>

    <div class="single-product-cart btn-hover">
        < <input type="submit"> 
        <a href="#"type="submit" onclick="document.getElementById('address').submit();">Proceed to checkout</a>
    </div>


</form>


</div>
</div>
</div> -->
<!-- </div> -->

<div class="main-wrapper main-wrapper-2">
    <div class="checkout-main-area pb-100 pt-100">
        <div class="container">
            <div class="checkout-wrap pt-30">
<form action="/address" method="post" id="address">
<div class="col-lg-7">
    <div class="billing-info-wrap">
        <h3>Shipping Address </h3>
        
        <div class="row">
            <div class="col-lg-12 ">
                <div class="billing-info mb-20">
                    <label>Your Name <abbr class="required" title="required"  aria-required="true" >*</abbr></label>
                    <input type="text" name="name" required>
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="billing-info mb-20">
                    <label>Street Address <abbr class="required" title="required">*</abbr></label>
                    <input class="billing-address" placeholder="House number and street name" type="text" name="firstLine" aria-required="true" required>
                    <input class="billing-address" placeholder="Township name" type="text" name="secondLine"  aria-required="true" required>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="billing-info mb-20">
                    <label>Town / City <abbr class="required" title="required" required>*</abbr></label>
                    <input type="text" name="city"  aria-required="true">
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                    <label>State / County <abbr class="required" title="required" >*</abbr></label>
                    <input type="text"name="state"  aria-required="true" required>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                    <label>Postcode / ZIP <abbr class="required" title="required" >*</abbr></label>
                    <input type="text" name="pincode" aria-required="true" required>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                    <label>Phone <abbr class="required" title="required" >*</abbr></label>
                    <input type="text" name="contactNumber" aria-required="true" required>
                </div>
            </div>
        </div> 
    </div>
</div>

    <div class="single-product-cart btn-hover">
        <a href="#" onclick="document.getElementById('address').submit();">Proceed to checkout</a>
    </div>


</form>
</div>
</div>
</div>
</div>