
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="pt-150 pb-150">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row ">
                        <div class="col-lg-5 ">
                         <div class="container d-flex justify-content-center align-items-center">

                             <div class="card text-center">
                            
                                <div class="card-header p-5">
                                    <!-- <img src="/public/assets/imgs/mobile.png"> -->
                                    <h5 class="mb-2">OTP VERIFICATION</h5>

                                    <div>
                                        <form method="post" action="/otp">
                                        <small>Enter your registered mobile number</small>
                                        <input type="text" name="mobileNumber" class="form-control mb-2" placeholder="Mobile Number">
                                        <!-- <button  name="send" class="m-1 text-center form-control rounded"></button> -->
                                        <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;"> <a href="/otp"> Send OTP</button></a>

                                    
                                        <small style="display: none;">Request one time password</small>
                                        <!-- <a href="/otp"  class="btn btn-primary">Request Otp</a> -->
                                    </div>

                                    <!-- <div>
                                        <small>Request one time password</small>
                                        <a href="/otp"  class="btn btn-primary">Request Otp</a>
                                    </div> -->
                                </div>
                            

                               

                                  <form action="/otp" method="post">
                                  <div class="input-container d-flex flex-row justify-content-center mt-2">
                                     <input type="text" name="otp1" class="m-1 text-center form-control rounded" maxlength="1" tabindex="1" oninput="moveCursor(this, 'otp2')">
                                     <input type="text" name="otp2" class="m-1 text-center form-control rounded" maxlength="1" tabindex="2" oninput="moveCursor(this, 'otp3')">
                                     <input type="text" name="otp3" class="m-1 text-center form-control rounded" maxlength="1" tabindex="3" oninput="moveCursor(this, 'otp4')">
                                     <input type="text" name="otp4" class="m-1 text-center form-control rounded" maxlength="1" tabindex="4"                                 >
                                   </div>
                                   
                                   <script>
                                   function moveCursor(currentInput, nextInputName) {
                                     if (currentInput.value.length >= 1) {
                                       document.getElementsByName(nextInputName)[0].focus();
                                     }
                                   }
                                   </script>
                            
                             <div>
                                 <small>
                                     Didn't get the otp?
                                    <a href="#" class="text-decoration-none">Resend</a>
                                 </small>
                             </div>
                            
                             <div class="mt-3 mb-5">
                                 <button class="btn btn-success px-4 verify-btn" type="submit">verify</button>

                                </form>
                                 <% if (locals.err) { %>
                                    <p class="error" style="color:red ;font-size:16px">Invalid OTP!please try again...</p>
                                  <% } %>

                             </form>

                             </div>
                            
                             </div>
                            
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>
</html>
<!--<div class="login-register-area pb-100 pt-95">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center container">
                <div class="card py-5 px-3">
                    <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile phone <b class="text-danger">+91 86684833</b></span>
                    <div class="d-flex flex-row mt-5"><input type="text" class="form-control" autofocus=""><input type="text" class="form-control"><input type="text" class="form-control"><input type="text" class="form-control"></div>
                    <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span><span class="font-weight-bold text-danger cursor">Resend</span></div>
                </div>
            </div>
              
        </div>
    </div>
</div>-->