<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/assets/images/logo/logo.png" class="logo" alt="phonestore Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/categories">View Categories</a>
                    <a href="/admin/view-product">View Products</a>
                    <a href="/admin/parentcat">View Parent Categories</a>
                   

                </div>

            </li>
            
            <li class="menu-item">
                <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-store"></i>
                    <span class="text">Users</span>
                </a>
                
               
            </li>

           


            <li class="menu-item">
                <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                
            </li>
            
            <li class="menu-item">
                <a class="menu-link" href="/admin/add_coupon"> <i class="icon material-icons md-person"></i>
                    <span class="text">Add Coupons</span>
                </a>
                
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-person"></i>
                    <span class="text"> Coupons</span>
                </a>
                
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/add-banner"> <i class="icon material-icons md-person"></i>
                    <span class="text">Add Banners</span>
                </a>
                
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/list-banner"> <i class="icon material-icons md-person"></i>
                    <span class="text">List Banners</span>
                </a>
                
            </li>
            
            
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                    <span class="text">Account</span>
                </a>
                 <div class="submenu">
                    <a href="/admin/logout">Logout</a>
                    
                </div> 
            </li>
           
            
            
        </ul>
        <hr>
        
        <br>
        <br>
    </nav>
</aside>